@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<HeaderComponent />
<main> <div class="main-container">
        @Body
</div> </main>
<FooterComponent />