<footer>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent; position: sticky; bottom: 0;">
        <div class="container-fluid">
            <span class="navbar-text" style="color: black; font-size: 16px;">
                Design & Developed by <span style="color: white;">Aravindkumar</span>
            </span>

            <!-- Spacer (use of margin-auto) -->
            <div class="ms-auto d-flex gap-3">
                <a href="https://www.linkedin.com/in/aravindkumar-murugesan/" class="text-black" target="_blank" title="LinkedIn">
                    <i class="bi bi-linkedin" style="font-size: 24px;"></i>
                </a>
                <a href="https://github.com/Aravindkumar-Murugesan" class="text-black" target="_self" title="GitHub">
                    <i class="bi bi-github" style="font-size: 24px;"></i>
                </a>
            </div>
        </div>
    </nav>
</footer>
