<footer>
    <MudAppBar Style="background-color:transparent;position: sticky; bottom: 0;">
        <MudText Style="color:black" Typo="Typo.h6">Design & Developed by<span style="color:teal"> Aravindkumar</span></MudText>
        <MudSpacer />
        <MudPaper Style="background-color:transparent;margin-right:10%" Class="d-flex justify-start flex-wrap gap-10" Elevation="0">
            <MudLink Target="_blank " Href="https://www.linkedin.com/in/aravindkumar-murugesan/" Underline="Underline.None"><MudIcon Style="color:black" Icon="@Icons.Custom.Brands.LinkedIn" Title="LinkedIn" /></MudLink>
            <MudLink Target="_self " Href="https://github.com/Aravindkumar-Murugesan" Underline="Underline.None"><MudIcon Style="color:black" Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" /></MudLink>
            <MudLink Target="_top " Href="#" Underline="Underline.None"><MudIcon Style="color:black" Icon="@Icons.Custom.Brands.Instagram" Title="Instagram" /></MudLink>
        </MudPaper>
    </MudAppBar>
</footer>