@page "/about"
<PageTitle>Aravind | About</PageTitle>
<div class="container">
    <div class="container py-5" style="min-height: 100vh;">
        <div class="d-flex flex-column-reverse flex-md-row align-items-center justify-content-between gap-4" style="min-height: 90vh;">

            <!-- Text Section -->
            <div class="col-12 col-md-7 text-md-start px-3">
                <h1 class="mb-3 text-center">Know Who <span style="color: teal; font-weight: bold;">I'M</span></h1>
                <p>
                    Hi Everyone, I am <span style="color: teal; font-weight: bold;">Aravindkumar</span> from Chennai, India.<br>
                    I am currently employed as an Software Engineer at NIVUS Technologies India Pvt. Ltd.<br>
                    I have completed B.E in Computer Science and Engineering at SNS College of Technology.
                </p>
            </div>

            <!-- Image Section -->
            <div class="col-12 col-md-5 text-center px-3">
                <img class="resume-image" src="/rb_70.png" alt="Image File" style="max-width: 100%; height: auto;" />
            </div>

        </div>
    </div>

    <div class="row">
        <h1 style="text-align: center;">Professtional <span style="color: teal;font-weight:bold;">Skillset</span></h1>
        <div class="carded">
            <div class="dynamic-div">
                <img src="/sharp_c.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/Bootstrap.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/blazor.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/js.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/dotnet.webp" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/dapper.png" height="55px" width="55px" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/sql_server.png" class="icon" alt="Icon" />
            </div>
        </div>
    </div>
    <div class="row">
        <h1 style="text-align: center;"><span style="color: teal;font-weight:bold;">Tools</span> I Use</h1>
        <div class="carded">
            <div class="dynamic-div">
                <img src="/Visual_Studio.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/git.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/filezilla.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/visual_studio_code.png" class="icon" alt="Icon" />
            </div>
        </div>
    </div>
</div>