@page "/about"
<div class="container">
    <div class="row" style="min-height:450px">
        <div class="col-7">
            <h1>Know Who <span style="color: teal;font-weight:bold">I'M</span></h1>
            <p>
                Hi Everyone, I am <span style="color: teal;font-weight: bold;">Aravindkumar</span> from Chennai, India.<br>
                I am currently employed as a Associate Engineer at HTC Global Service.<br>
                I have completed B.E in Computer Science and Engineering at SNS college of technology.
            </p>
        </div>
        <div class="col-5">
            <img class="resume-image" style="margin-left:30px" src="/rb_70.png" alt="Image File" />
        </div>
    </div>
    <div class="row">
        <h1 style="text-align: center;">Professtional <span style="color: teal;font-weight:bold;">Skillset</span></h1>
        <div class="carded">
            <div class="dynamic-div">
                <img src="/sharp_c.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/Bootstrap.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/blazor.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/js.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/dotnet.webp" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/dapper.png" height="55px" width="55px" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/sql_server.png" class="icon" alt="Icon" />
            </div>
        </div>
    </div>
    <div class="row">
        <h1 style="text-align: center;"><span style="color: teal;font-weight:bold;">Tools</span> I Use</h1>
        <div class="carded">
            <div class="dynamic-div">
                <img src="/Visual_Studio.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/git.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/filezilla.png" class="icon" alt="Icon" />
            </div>
            <div class="dynamic-div">
                <img src="/visual_studio_code.png" class="icon" alt="Icon" />
            </div>
        </div>
    </div>
</div>