body {
    background-color: #191919;
    font-family: 'Open Sans', sans-serif;
}

.text {
    position: absolute;
    z-index: 7;
    text-align: left;
    top: 40%;
    left: 20%;
    font-size: 48px;
    font-weight: 700;
}

.cursor {
    display: inline-block;
    width: 10px;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
