@page "/resume"
<PageTitle>Aravind | Resume</PageTitle>
<div class="container py-5" style="min-height: 100vh;">
    <div class="d-flex flex-column-reverse flex-md-row align-items-center justify-content-between gap-4" style="min-height: 90vh;">

        <!-- Text Section -->
        <div class="col-12 col-md-7 text-md-start px-3">
            <h1 class="mb-3 text-center typewriter">RESUME</h1>
            <p class="mb-4">
                Thank you for expressing your interest. For your convenience, I have provided both a downloadable version of my resume and a "view-only" link. Feel free to access the option that best suits your preference.
            </p>
            <div class="d-flex justify-content-center justify-content-md-start gap-3">
                <a href="/Aravindkumar-Resume.pdf" class="btn btn-success btn-lg" download="Aravindkumar-Resume">Download</a>
                <button type="button" class="btn btn-secondary btn-lg" onclick="window.open('/Aravindkumar-Resume.pdf')">View</button>
            </div>
        </div>

        <!-- Image Section -->
        <div class="col-12 col-md-5 text-center px-3">
            <img class="resume-image" src="/rb_2147902580.png" alt="Image File" style="max-width: 100%; height: auto;" />
        </div>
    </div>
</div>

