@page "/resume"
<div class="container" style="min-height:400px">
    <div class="row">
        <div class="col-7 alignbtncenter">
            <h1>RESUME</h1>
            <p>
                Thank you for expressing your interest. For your convenience, I have provided both a downloadable version of my resume and a "view-only" link. Feel free to access the option that best suits your preference
            </p>
            <a href="/Aravindkumar-Resume.pdf" class="btn btn-success btn-lg" download="Aravindkumar-Resume">Download</a>
            <button type="button" class="btn btn-secondary btn-lg" onclick="window.open('/Aravindkumar-Resume.pdf')">View</button>
        </div>
        <div class="col-5">
            <img class="resume-image" style="margin-left:30px" src="/rb_2147902580.png" alt="Image File" />
        </div>
    </div>
</div>